* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

::selection {
  background: #FFD25F;
  color: #151515;
}

body {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #151515;
  overflow: hidden;
  position: relative;
}

.left,
.right {
  width: fit-content;
  height: 100vh;
}

/* ----------------- Typography ----------------- */

h1 {
  font-size: 50px;
  color: #FFD25F;
  cursor: default;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  cursor: default;
}

h3 {
  font-size: 24px;
  color: #FFFFFF;
  cursor: default;
}

/* ----------------- Left Side ------------------ */

.basic-info {
  padding: 50px;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: absolute;
  bottom: 0;
}

.links a {
  width: fit-content;
  text-decoration: none;
  font-size: 24px;
  color: #FFFFFF;
  opacity: 50%;
}

.links a:hover {
  opacity: 100%;
  cursor: pointer;
}

/* ----------------- Right Side ----------------- */

.right {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  transition: 0.2s;
}

.container {
  display: flex;
  align-items: center;
  width: 4vw;
  padding-top: 50px;
  border-left: 2px solid #FFD25F;
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
  transition: 0.2s;
}

.open-page {
  display: flex;
  transition: 0.5s;
  background-color: #FFD25F;
  cursor: pointer;
}

.open-page a {
  height: 100vh;
  text-decoration: none;
}

.open-page h3 {
  color: #151515;
  cursor: pointer;
  padding: 0 1.5vw;
}

.text {
  transition: 0.2s;
  color: #FFFFFF;
  padding: 50px 25px;
  width: fit-content;
  visibility: hidden;
  text-orientation: upright;
  writing-mode: horizontal-tb;
  opacity: 0;
  z-index: -1;
}

.slider {
  z-index: 0;
}

.slider:hover {
  transition: 0.2s;
  width: 30vw;
}

.slider:hover>h3 {
  color: #FFD25F;
  transition: 0.2s;
  text-orientation: upright;
  writing-mode: horizontal-tb;
}

.slider:hover>.text {
  transition: 0.2s;
  visibility: visible;
  opacity: 100%;
  text-orientation: upright;
  writing-mode: horizontal-tb;
}

.photo {
  padding: 0;
}

.photo img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


/* ------------------------------ RESPONSIVIDADE  ------------------------------  */

@media screen and (max-width: 800px) {
  body {
    display: block;
    overflow: auto;
  }

  .left,
  .right {
    width: 100vw;
  }

  .left {
    flex-direction: column;
    justify-content: space-between;
  }

  .links {
    position: initial;
    align-items: flex-end;
  }

  .right {
    height: fit-content;
    display: block;
  }

  .container {
    display: block;
    width: 100%;
    height: 5vh;
    padding: 10px 0;
    border-bottom: 2px solid #FFD25F;
    border-left: none;
    text-orientation: upright;
    writing-mode: horizontal-tb;
  }

  .container h3 {
    color: #FFD25F;
    padding: 10px 50px;
  }

  .open-page h3 {
    color: #151515;
    padding-top: 0;
  }

  .slider {
    pointer-events: none;
    width: 100vw;
    height: fit-content;
  }

  .text {
    opacity: 100%;
    visibility: visible;
    padding: 20px 50px;
    height: fit-content;
  }

  .photo {
    padding: 0;
  }

  .photo img {
    height: 50vh;
  }
}